<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<i class="fa-2x fa-solid fa-shake">fa-starship-freighter</i>
  <i class="fa-2x fa-thin fa-rotate-90">fa-starfighter-twin-ion-engine-advanced</i>
  <i class="fa-2x fa-sharp fa-solid fa-beat-fade" style="color: LightGreen;">fa-equals</i>
  <i class="fa-2x fa-regular fa-rotate-90">fa-starfighter</i>
  <i class="fa-2x fa-solid fa-fade" style="color: Orange;">fa-colon</i>
  <i class="fa-2x fa-duotone fa-solid fa-bounce">fa-space-station-moon-construction</i>
  <i class="fa-2x fa-sharp-duotone fa-solid fa-flip">fa-user-bounty-hunter</i>
</body>
</html>