<style>
.remove{
    text-decoration: none;
    color: #191919;
}
</style>
 <!--==================== Footer Starts Here ==============================-->
 <footer>
    <div class="row d-none d-md-flex rounded content2 justify-content-evenly">

        <div class="col-3 ">
            <h5><u><a href="{{url_for('about_us')}}"  class="content2 badge text-bg-warning mt-2">About Us</a></u></h5><br>
                <p class=""> <span class="badge text-bg-primary">seenIT</span> is a social platform built to help individuals and 
                    organizations showcase their work, grow their audience, 
                    and connect with the right people. Whether you are a creator, brand, or business 
                    — your talent deserves to be seen.</p>
        </div>

         <div class="col-2">
            <h5 class="badge text-bg-warning mt-2 p-2">Quick Links</h5>
            <ul>
                <li><a class="remove" href="{{url_for('home')}}">Homepage</a></li>
                <li><a class="remove" href="{{url_for('contact')}}">Contact Us</a></li>
                <li><a class="remove" href="{{url_for('userLogin')}}">seenIT Hub</a></li>
                <li><a class="remove" href="#">My Profile</a></li>
            </ul>
        </div>

        <div class="col-3 d-none d-md-block mt-1">
            <ul type="none">
            <p><a class="remove badge text-bg-warning" href="#">Connect With Us </a></p>
                <li><a class="remove" href="#"> 📬 Subscribe to Updates - </a>
                    <p>Get tips, new opportunities, and inspiring stories delivered monthly.</p>
                </li>
    
                <li>
                <h5>🌐 Socials:</h5>
                <l1> <a class="remove" href="#">LinkedIn</a></li>
    
                <li><a class="remove" href="#"> Facebook</a></li>
    
                <li><a class="remove" href="#">Instagram</a></li>
    
                <li><a class="remove" href="#"> X</a></li>
            </ul>
        </div>

        <div class="col-2">
            <h5 class="badge text-bg-warning mt-2 p-2">Legal</h5>
            <ul>
                <li><a class="remove" href="#">Terms of Use</a></li>
                <li><a class="remove" href="#">Privacy Policy</a></li>
                <li><a class="remove" href="#">Cookies</a></li>
            </ul>
        </div>
    </div>

    <div class="row m-2">
        <div class="col d-flex align-items-center justify-content-center">
            <h4>© 2025 SeenIT Hub. All rights reserved</h4>
        </div>
    </div>
</footer>


<!--==================== Footer Ends Here ==============================-->
