{% extends 'format.html' %}


	{% block title %}
	<title>seenIT : User Password Reset – Promote Your Work & Grow Your Network</title>
	{% endblock %}

	{% block style %}
	{% endblock %}

{% block content %}
<div class="col-12  me-5 mt-5 fontOpen">
    <h1>USER PASSWORD RESET</h1> <br>
    <div class="col-md-6" style="background-color: rgba(0, 0, 0, 0.3);min-height: 400px; padding: 10px; align-content: center; border-radius: 30px;">

        <form action="" method="post">
            <div class="col-12 mb-3 form-floating">
                {{form.uname(class_='form-control', placeholder='Phone/Email')}}
                {{form.uname.label}}
            </div>

            <div class="col-12 mb-3 form-floating">
                {{form.newpwd(class_='form-control', placeholder='New Password')}}
                {{form.newpwd.label}}
            </div>

            <div class="col-12 mb-3 form-floating">
                {{form.cnewpwd(class_='form-control', placeholder='Confirm New Password')}}
                {{form.cnewpwd.label}}
            </div>

            <div class="row">
                <div class="col-6 mb-3 form-floating">
                    {{form.reset(class_='btn btn-danger btn-lg text-dark')}}
                </div>

                <div class="col-12 d-flex mt-2">
                    {{form.remember(class_= "form-check placeholder='remember me'")}}
                    {{form.remember.label(class_='text-light ms-2')}}
                </div>

        </div>
        </form>
    </div>
</div>
{% endblock %}