# Ignore environment & config
.env
instance/
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pkl

# Virtual environment
venv/
ENV/
.venv/
.vSeenIT/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs & temp
*.log
*.pot
*.pid
*.seed
*.out
*.bak
*.swp

# IDE/project files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node stuff (in case you add frontend later)
node_modules/
npm-debug.log
yarn-error.log
